body {
    font-family: sans-serif;
    color: #777777;
    line-height: 26px;
  }
  .purple-color {
    color: #8845f4 !important;
  }
  .content {
    width: 50%;
    float: left;
  }
  .btn {
    color: white;
    background-color: #8845f4;
    padding: 13px 42px;
    border-radius: 20px;
    text-decoration: none;
  }

  .container{
    width: 100%;
    height: auto;
    margin: 20px;
    display: inline-block;
    border-color: #777777;
    border-width: 10px;
  }

  .experience{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2)
  }

  img {
    border-radius: 20px;
  }